body{
    margin-top: 300px;
    text-align: center;
    background-color: aquamarine;
}
button{
    font-size: 19px;
    background-color: brown;
    height: 50px;
    width: 100px;
}
p{
    font-size: 40px;
}
.pl1:hover{
    color: white;
    background: red;
}
.pl2:hover{
    color: white;
    background: red;
}
.strt:hover{
    color: white;
    background: red;
}